Flask
flask-cors
flask-limiter
python-dotenv
google-generativeai
sendgrid
torch
torchaudio
transformers
soundfile
pydub
tiktoken
sentencepiece
scipy
numpy
librosa
Pillow
reportlab
requests
beautifulsoup4
pandas